body {
    font: 16px "Lato", sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0px; padding: 0px;
}
a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #666;
}


.competitor-holder {
    padding: 20px;
}

.competitor-chips > .md-chips {
    box-shadow: none;
}

.competitor-chips > .md-chips.md-focused {
    box-shadow: none;
}

.competitor-chips > .md-chips > .md-chip.md-focused {
    background-color: #1abc9c;
}

.competitor-chips > .md-chips > .md-chip > .md-chip-remove-container{
    display: none;
}

.competitor-chips > .md-chips > .md-chip-input-container {
    display: none;
}

.teams-holder {
    width: 90%;
    margin: auto;
}

.team-holder {
    
    display: block;
   margin-top: 10px;


}

.team-holder > .name {
    display:inline-block;
    background-color: #1abc9c;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 14pt;
    width: 16%;
    color: white;
    height: 100%;
    cursor: pointer;
    font-weight: 600;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 24pt;
    font-weight: 500;
    background-color: #1abc9c;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.instructions {
    width:60%;
    margin:auto;
    display: block;
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-size: 14pt;
    font-weight: 600;
    color: #7f8c8d;
}

.competitor-list-item {
    background-color: #bdc3c7;
}

.team-holder > .name:hover {
    /*background-color: #2ecc71;
    font-weight: 600;
    color: white;*/
    background-color: #16a085;    
}

.team-holder > .name.selected {
   /* background-color: #2ecc71;
    font-weight: 600;
    color: white;*/
}

.team-holder > .competitors {
    display:inline-block;
    height: 40px;
}

.team-holder > .competitors > .md-chips {
    box-shadow: none;
}

.undo-button {
    float: right;
    margin-top: -80px;
    margin-right: 20px;
    font-size:16pt;
    cursor: pointer;
    padding: 20px;
    background-color:#e67e22;
    border-radius: 5px;
    color: white;
}

.draft-button {
    cursor: pointer;
    width: 20%;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 20pt;
    background-color: #3498db;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 20px;
}

.draft-button:hover {
    background-color: #2980b9;
}

.scrap-button {
    cursor: pointer;
    width: 20%;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 20pt;
    background-color: #9b59b6;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 20px;
}

.scrap-button:hover {
    background-color: #8e44ad;
}